<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <header class="drawer">
      <div class="row">
        <div class="col">
          <h1>Kenyangin</h1>
        </div>
        <div class="col">
          <a href="#" id="hamburger">☰</a>
        </div>
      </div>
      <nav class="nav">
        <ul id="drawer">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://gertoy837.github.io">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="hero">
        <img src="./images/heros/hero-image_4.jpg" class="hero-image" alt="" />
      </div>
      <div class="container" tabindex="0" id="main-content">
        <h1>Daftar Restaurant</h1>
        <div id="restaurantContainer">
        </div>
      </div>
    </main>

    <footer class="footer">
      <h3>Copyright &copy;2024 Developed by Mochammad Mahardika</h3>
        <span>Make with &#10084;</span>
    </footer>
  </body>
</html>
